@import "tailwindcss";

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-funnel);
    text-shadow: 1px 1px 3px black;
}


@layer base {

    ul,
    ol,
    menu {
        @apply [list-style-type:unset] ml-6
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-outfit), sans-serif;
    }

    h1,
    h2,
    h3 {
        @apply font-semibold mb-2;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply text-sky-200 hover:text-sky-400;
    }

    a.active-link {
        @apply text-sky-400;
    }

    button {
        @apply mr-2 mb-2 px-2 py-1 bg-white/20 shadow-sm rounded-md hover:ring-2 hover:ring-sky-400 cursor-pointer backdrop-blur-xs;
    }

    button.active {
        @apply bg-sky-400/50;
    }

}

@layer components {
    .card {
        @apply rounded-xl bg-white/20 shadow-sm backdrop-blur-xs;
    }

    .nav-link {
        @apply h-[100%] content-center cursor-pointer px-2;
    }

    .nav-link-active {
        @apply [text-shadow:_0_0_17px] text-sky-300;
    }
}


@layer utilities {
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .animate-fade-in {
        animation: fade-in 0.5s ease-in forwards;
    }

    .animate-fade-out {
        animation: fade-out 0.5s ease-out forwards;
    }
}